# {{diagram_name}} Overview

## Purpose
- Describe the mission and core capabilities.
- Cite business driver: {{business_driver}}

## Stakeholders
- {{stakeholders}}

## Code Anchors
```
{{code_anchor}}
```

## Diagram Assets
- LikeC4 model files: `likec4/model/{{diagram_slug}}_*.c4`
- Views: see `likec4/views/views.c4`

## Open Questions
- List outstanding discoveries or decisions.
