// TEMPLATE: Container (C4)
model {
  system {{system_id}} '{{system_title}}' {
    boundary {{boundary_id}} '{{boundary_title}}' {
      container {{container_id}} '{{container_title}}'
    }
    component {{component_id}} '{{component_title}}'
  }
}
